@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    height: 100vh;
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

/* ---------- header & nav section ---------- */

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5%;
    height: 3rem;
}

.logo {
    width: 5.5rem;
    height: 2.18rem;
    background-image: url(/resources/images/logo-dark.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.start_btn {
    height: 3rem;
    width: 8.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #13183f;
    border-radius: 2rem;
    border: none;
}

.start_btn:hover {
    filter: brightness(100%) saturate(500%);
    transition: .5s;
}

.hero_section {
    overflow: hidden;
}

/* ---------- banner section ---------- */

.banner {
    padding-top: 1.5rem;
}

.right_column {
    padding-top: 3rem;
}

.right_column img {
    width: 100%;
    height: auto;
}

.left_column {
    margin: 0 5%;
}

h1 {
    font-weight: 800;
    font-size: 2.5rem;
    color: #13183F;
    margin: 0 0 2rem 0;
}

.left_column p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.8;
    color: #83869A;
    margin-bottom: 8%;
    margin: 0 0 2rem 0;
}

.banner_start_btn {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    height: 4rem;
    width: 11rem;
    background: linear-gradient(#ff6f48,#F02AA6);
    border-radius: 2rem;
    border: none;
    margin: 0 0 0% 0;
}

.banner_start_btn:hover {
    filter: brightness(150%) saturate(150%);
    transition: .5s;
}

/* ---------- courses section ---------- */ 

.content {
    padding: 1.8rem 5% 6rem 5%;
}

.courses {
    height: 20rem;
    margin: 0 0 5% 0;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
    background: linear-gradient(#ff6f48,#F02AA6);
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.courses p {
    margin: 0 7%;
}

.box {
    height: 20rem;
    position: relative;
}

.box_container {
    box-shadow: 
    0px 25px 50px
    rgba(6, 22, 141, 0.0442381);
    margin-top: 2rem;
    height: 20rem;
    border-radius: .5rem;
    position: relative;
}

.box_container h2 {
    color: #13183F;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 3rem 7% 0 7%;
    padding-top: 4rem;
}

.box_container p {
    margin: 6% 7%;
    color: #83869A;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.8;
}

.box_container button {
    margin: 0 7%;
    color: #F74780;
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    background: none;
}

.box_container button:hover {
    color: #FFA7C3;
    transition: .5s;
}

.animation .box_logo {
    background-image: url(/resources/images/icon-animation.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.8rem;
    left: 7%;
}

.design .box_logo {
    background-image: url(/resources/images/icon-design.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.8rem;
    left: 7%;
}

.photography .box_logo {
    background-image: url(/resources/images/icon-photography.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.8rem;
    left: 7%;
}

.crypto .box_logo {
    background-image: url(/resources/images/icon-crypto.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.8rem;
    left: 7%;
}

.business .box_logo {
    background-image: url(/resources/images/icon-business.svg);
    background-repeat: no-repeat;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -1.8rem;
    left: 7%;
}

/* ---------- Footer ---------- */ 

.footer {
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13183F;
    padding: 0 5%;
}

.footer_logo {
    background-image: url(/resources/images/logo-light.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5.5rem;
    height: 2.18rem;
}

.footer_start_btn {
    height: 3rem;
    width: 8.75rem;
    background: linear-gradient(#4851FF,#F02AA6);
    border: none;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.footer_start_btn:hover {
    filter: brightness(150%) saturate(150%);
    transition: .5s;
}

/* ---------- Media Queries ---------- */ 

@media screen and (min-width: 768px) {

    .hero_section {
        position: relative;
    }

    .nav_bar {
        padding: 3rem 10%;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        height: auto;
        margin: 5%;
        padding-bottom: 2rem;
    }

    .left_column {
        max-width: 25rem;
        margin: 0 0 0 5%;
    }

    .right_column {
        max-width: 40%;
        padding-top: 0;
    }

    .right_column img {
        position: absolute;
        width: 40rem;
        height: auto;
        left: 50%;
        top: -85px;
        z-index: -11;
    }

    .content {
        padding: 0 5% 8% 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        height: auto;
        flex-basis: 45%;
    }

    .courses {
        margin: 3rem 0 0 0;
        height: 20rem;
        width: 45%;
        align-items: revert;
    }

    .courses p {
        padding-top: 4rem;
    }

    .box_1, .box_3, .box_5 {
        margin-right: .5rem;
    }

    .box_2, .box_4, .box_6 {
        margin-left: .5rem;
    }

    .footer {
        padding: 0 10%;
    }
}

@media screen and (min-width: 1024px) {
    
    .left_column {
        max-width: 28.6rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .left_column p {
        font-size: 1.125rem;
    }

    .right_column {
        padding-top: 0;
    }

    .right_column img {
        width: 50rem;
        left: 53%;
    }

    .courses {
        width: 30%;
    }

    .box {
        flex-basis: 30%;
    }

    .box_2 {
        margin-right: .5rem;
    }

    .box_3 {
        margin: 0 0 0 .5rem;
    }

    .box_4 {
        margin: 0 .5rem 0 0;
    }

    .box_5 {
        margin: 0 .5rem 0 .5rem;
    }

    .box_6 {
        margin: 0 0 0 .5rem;
    }
}